In [1]:
%%HTML
<h2 align="center" style="color:red;">Different ways of creating data frames</h2>

In [6]:
%%HTML
<h2> By importing .csv file</h2>

In [3]:
import pandas as pd
df=pd.read_csv("weather_report.csv") #path of the csv file

In [4]:
df

        day  temperature  windspeed  event
0  01-01-17           32          6   Rain
1  01-02-17           35          7  Sunny
2  01-03-17           28          2   Snow
3  01-04-17           24          7   Snow
4  01-05-17           32          4   Rain
5  01-06-17           32          2  Sunny

In [5]:
%%HTML
<h2> By importing .xlsx file</h2>

In [9]:
# currently not working , check for solution

In [13]:
%%HTML
<h2> From dictionary object</h2>

In [11]:
stdinfo={
    'name':['charmee','shivani'],
    'age':[19,23],
    'dob':['21/06/2003','01/08/1999']
}
df=pd.DataFrame(stdinfo)

In [12]:
df

      name  age         dob
0  charmee   19  21/06/2003
1  shivani   23  01/08/1999

In [14]:
%%HTML
<h2> Using list of tuples </h2>

In [15]:
stdinfo=[
    ('charmee',19,'21/06/2003'),
    ('shivani',23,'01/08/1999')
]
df=pd.DataFrame(stdinfo,columns=['name','age','dob']) # here column names are given externally
df

      name  age         dob
0  charmee   19  21/06/2003
1  shivani   23  01/08/1999

In [17]:
%%HTML
<h2> Using list of Dictionaries </h2>

In [16]:
weather_data=[
    {'day':'1/1/2017','temperature':32,'windspeed':6,'event':'Rain'},
    {'day':'1/2/2017','temperature':35,'windspeed':7,'event':'Sunny'},
    {'day':'1/3/2017','temperature':28,'windspeed':2,'event':'Snow'}
]
df=pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow